USE [master]
GO
/****** Object:  Database [WorkOrderDB]    Script Date: 5/27/2026 12:15:28 AM ******/
CREATE DATABASE [WorkOrderDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkOrderDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WorkOrderDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkOrderDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WorkOrderDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkOrderDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkOrderDB]
GO
/****** Object:  User [dbprocessor]    Script Date: 5/27/2026 12:15:28 AM ******/
CREATE USER [dbprocessor] FOR LOGIN [dbprocessor] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [dbprocessor]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/27/2026 12:15:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] NOT NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[MainOfficeAddress] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](15) NOT NULL,
	[ZipCode] [char](5) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[Email] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryParts]    Script Date: 5/27/2026 12:15:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryParts](
	[PartsId] [int] NOT NULL,
	[PartsName] [varchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_InventoryParts] PRIMARY KEY CLUSTERED 
(
	[PartsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 5/27/2026 12:15:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceId] [int] NOT NULL,
	[WorkOrderId] [int] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobAssignment]    Script Date: 5/27/2026 12:15:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobAssignment](
	[AssignmentId] [int] NOT NULL,
	[WorkOrderId] [int] NULL,
	[Status] [varchar](100) NULL,
	[AssignmentNotes] [varchar](255) NULL,
 CONSTRAINT [PK_JobAssignment] PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 5/27/2026 12:15:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceId] [int] NOT NULL,
	[PartsId] [int] NULL,
	[ServiceName] [varchar](100) NULL,
	[ServiceType] [varchar](100) NULL,
	[ServiceDescription] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceLocation]    Script Date: 5/27/2026 12:15:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceLocation](
	[ServiceLocationId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ServiceLocationName] [varchar](100) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](15) NOT NULL,
	[ZipCode] [char](5) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[Email] [varchar](255) NULL,
	[AccessInfo] [varchar](100) NULL,
 CONSTRAINT [PK_ServiceLocation] PRIMARY KEY CLUSTERED 
(
	[ServiceLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTechnician]    Script Date: 5/27/2026 12:15:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTechnician](
	[ServiceTechId] [int] NOT NULL,
	[ServiceId] [int] NULL,
	[ServiceTechName] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[Email] [varchar](255) NULL,
	[HourlyRate] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_ServiceTechnician] PRIMARY KEY CLUSTERED 
(
	[ServiceTechId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrder]    Script Date: 5/27/2026 12:15:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrder](
	[WorkOrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ServiceLocationId] [int] NOT NULL,
	[ServiceTechId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[CustomerDescriptionOfWorkNeeded] [varchar](255) NULL,
	[StartDateOfService] [date] NOT NULL,
	[StartTimeOfService] [time](7) NOT NULL,
	[ServiceTechProposedSolution] [varchar](255) NULL,
	[ActualWorkCompleted] [int] NULL,
	[HoursAndMinutesToCompleteWork] [time](7) NOT NULL,
	[ServiceTechEstimate] [decimal](5, 0) NULL,
 CONSTRAINT [PK_WorkOrder] PRIMARY KEY CLUSTERED 
(
	[WorkOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [MainOfficeAddress], [City], [State], [ZipCode], [PhoneNumber], [Email]) VALUES (5, N'Wally''s', N'2325 Maple Ave', N'Rapid City', N'SD', N'57702', N'239-394-0394', N'wally''s''store@yahoo.com')
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [MainOfficeAddress], [City], [State], [ZipCode], [PhoneNumber], [Email]) VALUES (10, N'Rock-n-Roll Diner', N'584 Dakota Ave', N'South Sioux City', N'NE', N'68776', N'712-899-2873', N'rocknrolldiner@gmail.com')
GO
INSERT [dbo].[InventoryParts] ([PartsId], [PartsName], [Quantity]) VALUES (12, N'8 Ft Fluorescent Light Bulb', 100)
INSERT [dbo].[InventoryParts] ([PartsId], [PartsName], [Quantity]) VALUES (14, N'6 Ft Fluorescent Light Bulb', 100)
INSERT [dbo].[InventoryParts] ([PartsId], [PartsName], [Quantity]) VALUES (16, N'Toilet', 2)
GO
INSERT [dbo].[Invoice] ([InvoiceId], [WorkOrderId]) VALUES (1001, 202)
GO
INSERT [dbo].[JobAssignment] ([AssignmentId], [WorkOrderId], [Status], [AssignmentNotes]) VALUES (100, NULL, N'Completed', N'Has finished job')
GO
INSERT [dbo].[Service] ([ServiceId], [PartsId], [ServiceName], [ServiceType], [ServiceDescription]) VALUES (2, 16, N'Toilet Installation', N'Plumbing Service', N'Installation of new toilet')
INSERT [dbo].[Service] ([ServiceId], [PartsId], [ServiceName], [ServiceType], [ServiceDescription]) VALUES (4, 12, N'Lights', N'Electric', N'Change Fluorescent Light Bulbs')
GO
INSERT [dbo].[ServiceLocation] ([ServiceLocationId], [CustomerId], [ServiceLocationName], [Address], [City], [State], [ZipCode], [PhoneNumber], [Email], [AccessInfo]) VALUES (5, 10, N'Rumbling Fun', N'382 W 85TH St', N'Omaha', N'NE', N'68101', N'402-404-8263', N'rumblefun@yahoo.com', N'Front Door')
GO
INSERT [dbo].[ServiceTechnician] ([ServiceTechId], [ServiceId], [ServiceTechName], [PhoneNumber], [Email], [HourlyRate]) VALUES (3, NULL, N'Paul Martin', N'712-333-9483', N'paulmartin@gamil.com', CAST(35.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[WorkOrder] ([WorkOrderId], [CustomerId], [ServiceLocationId], [ServiceTechId], [ServiceId], [CustomerDescriptionOfWorkNeeded], [StartDateOfService], [StartTimeOfService], [ServiceTechProposedSolution], [ActualWorkCompleted], [HoursAndMinutesToCompleteWork], [ServiceTechEstimate]) VALUES (202, 10, 5, 3, 2, N'Toilet in backroom is givng problems', CAST(N'2025-07-13' AS Date), CAST(N'10:00:00' AS Time), N'Toilet will need to be changed', 3, CAST(N'00:00:00' AS Time), CAST(105 AS Decimal(5, 0)))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'State Abbreviation' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ServiceLocation', @level2type=N'COLUMN',@level2name=N'State'
GO
USE [master]
GO
